---
import { Image } from "astro:assets";
import { getEntries, type CollectionEntry } from "astro:content";
import FormattedDate from "../utils/FormattedDate.astro";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const tags = await getEntries(post.data.tags);

const haveTags = tags.length > 0;
---

<section>
  <a href={`/posts/${post.slug}`}>{post.data.title}</a>
  {
    post.data.cover && (
      <Image src={post.data.cover} alt={post.data.coverAlt ?? ""} />
    )
  }
  <FormattedDate date={post.data.publishDate} />
  {
    haveTags && (
      <ul>
        {tags.map((tag) => (
          <li>{tag.data.name}</li>
        ))}
      </ul>
    )
  }
</section>
